<div class="container-fluid mt-5 mx-0 px-5" id="contact">
  <h1 class="title">{{ lang.lang == 'FR'?'Nous contacter': 'Contact us'}}</h1>
  <p class="text-muted mb-4">{{lang.lang == 'FR'?'Un premier  contact peut tout changer': 'A first contact can change everything  '}} </p>
 <div class="row">
   <div class="col-12 col-md-7 banner" style="position: relative;">
    <ul class="list-unstyled text-white" style="position: absolute; bottom: 0;">
      <li><i class="fa fa-envelope fa-lg"></i> <span>  fatou@segalsine.com</span> </li>
      <li><i class="fa fa-phone fa-lg"></i>    <span > 00 221 33 826 34 79      </span> </li>
      <li><i class="fa fa-whatsapp fa-lg"></i>    <span > 00221 77 192 46 46      </span> </li>
      <li><i class="fa fa-map-marker fa-lg">  </i> <span>  Dakar / Parcelle unité 22</span>  </li>
    </ul>
   </div>
   <div class="col-12 col-md-5 px-4">
    <p class="contact-us-desc mb-4">
      {{ lang.lang == 'FR'?'Pour toute question ou requête contactez nous : nous  vous répondons sous 6 heures au plus tard.': 'For any question or request contact us: we will answer you within 6 hours.'}} </p>
     <form [formGroup]="contactForm" (submit)="onSubmit()" >
       <div class="form-group">
        <label>Nom et Prénom</label>
        <input type="text" class="form-control" formControlName="name" />
       </div>
       <div class="form-group my-3">
        <label>Adresse Email</label>
        <input type="email" class="form-control" formControlName="email"  />
       </div>
       <div class="form-group">
        <label>Message</label>
        <textarea  class="form-control"  rows="3" formControlName="name" ></textarea>
       </div>
       <div class="form-group mt-5">
        <input class="btn btn-primary" type="submit" value="Envoyer" />
       </div>
     </form>

     <div class="d-flex justify-content-end">
      <button class="btn btn-outline-primary"><i class="fa fa-facebook"></i></button>
      <button class="btn btn-outline-danger mx-2"><i class="fa fa-twitter"></i></button>
      <button class="btn btn-outline-info"><i class="fa fa-linkedin"></i></button>
     </div>
   </div>
 </div>
</div>
