h3{
  font-size: 26px;
  font-weight: 700;
}
.contact-us-desc{
  font-size: 18px;
}

.container-fluid{
  padding: 4em 2em;
  background-image: url('https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner{
  background-image: url('https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
