
.contact-us-desc{
  font-size: 18px;
}



.container-fluid{
  padding: 4em 2em;
  background-image: url('https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner{
  background-image: url("../../../assets/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
