<div class="container mt-5">
  <h3>{{lang.lang =='FR' ?'La force de notre équipe': 'The strength of our team'}} </h3>
  <div class="row mt-5">
     <div class="col-12 col-md-5">
        <ul class="list-unstyled">
          <li class="mt-3">
            <p>{{lang.lang =='FR' ? data.sect1: dataEn.sect1}}</p>
          </li>
          <li class="my-5">
            <p>{{lang.lang =='FR' ? data.sect2: dataEn.sect2}}</p>
          </li>
          <li>
            <p>{{lang.lang =='FR' ? data.sect3: dataEn.sect3}}</p>
          </li>
        </ul>
     </div>
     <div class="col-12 col-md-7">
      <div class="row mt-3">
        <div class="col-12 col-md-6">
          <div class="card">
            <img src="assets/fatou.jpg" class="img" alt="...">
            <div class="card-body">
              <div class="card-text">
               <h6>{{lang.lang =='FR' ?'L’ expérience dans les services proposés': 'The experience in the services offered '}}</h6>

               <br>
              <p >
                <strong>Fatou Kamara</strong>
                <small>{{lang.lang =='FR' ? 'le DG, dispose de 25 années  d’ expérience en  stratégie de  Marketing, communication, vente , distribution et commerce 	international': 'Fatou Kamara, the CEO, has 25 years of experience in marketing strategy, communication, sales, distribution and international trade'}}</small>
              </p>

              <a href="https://www.linkedin.com/in/knowmoreaboutfatoukamara">linkedin.com</a>
              <br>
              <a href="http://africawomenexperts.com/lng/fr/profil-experte/?profil=474">africawomenexperts.com</a>
              <br>
              <a href="https://app.onfrontiers.com/profile/fkamara">app.onfrontiers.com</a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <img src="assets/sokhna.jpg" class="img" alt="...">
            <div class="card-body">
              <p class="card-text">
               <strong>Ndèye Sokhna Wane</strong>  {{lang.lang =='FR'?', la DAF , dispose de 24 années dans  l’audit , le contrôle de gestion et le Management des Ressources Humaines': ', the CFO, has 24 years of experience in auditing, management control and human resources management '}}
              </p>
            </div>
          </div>
        </div>

       </div>
     </div>
  </div>

</div>
