<footer class="container-fluid mx-0 mt-5 py-3">
 <div class="row mt-2">
  <div class="col-12 col-md-4">
    <p>Segalsine</p>
    <ul class="list-unstyled">
      <li><i class="fa fa-envelope fa-lg"></i> <span>  fatou@segalsine.com</span> </li>
      <li><i class="fa fa-phone fa-lg"></i>    <span > 00 221 33 826 34 79      </span> </li>
      <li><i class="fa fa-whatsapp fa-lg"></i>    <span > 00221 77 192 46 46      </span> </li>
      <li><i class="fa fa-map-marker fa-lg">  </i> <span>  Dakar / Parcelle unité 22</span>  </li>
    </ul>
  </div>
  <div class="col-12 col-md-4">
    <ul class="list-unstyled">
      <li><a>Marketing</a></li>
      <li><a>Communication</a></li>
      <li><a>Vente</a></li>
      <li><a>Agro Business</a></li>
    </ul>
  </div>
  <div class="col-12 col-md-4">
    <ul class="list-unstyled">
      <li><a>Nous contacter</a></li>
      <li><a>Qui sommes-nous</a></li>
      <li class="mt-2">
        <button class="btn btn-outline-primary"><i class="fa fa-facebook"></i></button>
        <button class="btn btn-outline-danger mx-2"><i class="fa fa-twitter"></i></button>
        <button class="btn btn-outline-info mr-2"><i class="fa fa-linkedin"></i></button>
        <button class="btn btn-outline-success"><i class="fa fa-whatsapp"></i></button>
      </li>
    </ul>
  </div>
 </div>
 <hr>
 <p class="text-center">{{year}} © Copyright Segalsine - Tous droits réservés</p>
</footer>
