<div class="container-fluid">
  <div class="row">
     <div class="col-12 col-md-5">
      <h2>Segalsine</h2>
      <h1 class="mt-5">Ensemble construsons l'avenir autour du numérique </h1>
      <p class="mt-4 header-desc">
        Nous accompagnons les differents acteurs du numérique,
         grace à notre expertise dans le marketing, la communication
         et la vente, à atteindre leurs objetifs.
      </p>
      <button class="btn mt-4">Déposer votre projet</button>
     </div>
     <div class="col-12 col-md-7">
      <img src="assets/header.jpg" alt="" class="img-fluid">
     </div>

  </div>

</div>
